@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.left-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-container >h1 {
    color: #660fc8;
    font-size: 2.5em;
}

.left-img {
    width: 40vw;
}       

.rigth-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form {
    background-color: #f5f5f5;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #a9a9a9;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.btn-form {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #8a2be2;
}

.btn-form > button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btn-color {
    position: absolute;
    width: 108px;   
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
}

.input-signIn {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none   ;
    width: 100%;
}

.input-signUp {
    border: none;
    margin-top: 25px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none   ;
    width: 100%;
}

button[type="submit"] {
    background: #660fc8;
    color: #ffffff;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button[type="submit"]:active {
    transform: scale(0.96);
}

.container-check {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signIn {
    left: 25px;
}

#signUp {
    left: 450px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 39px;
}

.iPassword {
    top: 112px;
}

.iUser {
    top: 24px;
}

.iEmail2 {
    top: 84px;
}

.iPassword1 {
    top: 142px;
}

.iPassword2 {
    top: 200px;
}  

@media only screen and (max-width: 950px) {
    .container-form
    {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-container
    {
        flex-direction: column;
    }

    .left-container > h1
    {
        display: none;
    }

    .left-container
    {
        width: 100%;
        height: auto;
    }

    .rigth-container
    {
        width: 100%;
        height: auto;
    }

    .left-img
    {
        width: 50vw;
    }

    .container-form
    {
        width: 90%;
    }
}
